/* =====================================================================
   Root 
===================================================================== */
:root {
  --orange: #ffa500;
  --gunmetal: #2C363F;
  --isabelline: #F2EFEA;
  font-family: 'Roboto', sans-serif;

}

/* =====================================================================
   Global Styles
===================================================================== */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--gunmetal);
  background-color: var(--isabelline);
}
/* =====================================================================
Header section including the navbar
===================================================================== */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  background-color: var(--orange);
}

/* Menu item styling */
.menu li {
  margin: 0 1rem;
}

/* Header container styling */
.menutopper-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%; 
  background-color: var(--orange);
  margin-bottom: 0;
  padding-bottom: 0;
}

/* Navbar toggler button styling */
.navbar-toggler {
  position: absolute;
  right: 50px; /* Adjust right position as needed */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust for exact vertical center */
  font-size: 1.5em;
  border: none;
  background: transparent;
  cursor: pointer;
}

/* Navbar collapse styling */
.navbar-collapse {
  position: absolute;
  right: 0;
  top: 100%;
  display: none; /* Initially hidden */
  flex-direction: column;
  align-items: flex-end;
}

/* Adjust alignment of menu items within the collapsed navbar */
.navbar-collapse .menu {
  align-items: flex-end;
  background-color: var(--gunmetal);
}

a {
  color: var(--isabelline); 
}

/* Styling when navbar is active */
.navbar-collapse.active {
  display: flex;
}

.logo img {
  width: 80px;
  margin: 0 auto;
}

/* =====================================================================
   main section of index.html
===================================================================== */
.index {
  display: flex;      
  flex-direction: column; 
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  width: 85vw;        
  margin: 0 auto; 
  padding: 15px;
  border: 1px solid var var(--orange);
  border-radius: 8px;    
}

.search{
  border: 1px solid var(--isabelline);
  flex-basis: 75px; 
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--orange);
  color: var(--gunmetal);
  width: 85vw; 
  text-align: center;
  font-size: 14px;
}
.features, .threat-landscape, .cvss-feed {
  border: 1px solid var(--isabelline);
  overflow: auto;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--orange);
  cursor: pointer;
  color: var(--gunmetal);
  width: 85vw; 
  text-align: center;
  font-size: 14px;
}

.additional-content {
  display: none; 
}

.additional-content.expanded {
  display: flex;
  overflow: visible;
  justify-content: space-between;      
  flex-direction: column; 
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}
/* =====================================================================
   main section of about.html
===================================================================== */

/* =====================================================================
   main section of search.html
===================================================================== */


/* =====================================================================
   contact.html, contact forms
===================================================================== */
#fs-frm {
  max-width: 95%;
  margin: 0 auto;
  padding: 15px;
  background: var(--gunmetal);
  border: 1px solid var(--orange);
  border-radius: 8px;
}

#fs-frm input[type="text"],
#fs-frm input[type="email"],
#fs-frm textarea,
#fs-frm input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--gunmetal);
  border-radius: 4px;
}

#fs-frm input[type="submit"] {
  background-color: var(--orange);
  color: var(--isabelline);
}

#fs-frm input[type="submit"]:hover {
  background-color: var(--isabelline);
  color: var(--gunmetal);
}

/* =====================================================================
   Footer Styles
===================================================================== */
footer {
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  height: 60px;
  background-color: #2C363F; 
  color: var(--isabelline); 
  text-align: center; 
  padding: 10px 0; 
  font-size: 0.8em; 
}

/* =====================================================================
   Media Queries
===================================================================== */
@media (min-width: 768px) {

  .logo img {
    width: 100px;
  }

  .menu {
    flex-direction: row;
  }

  .menu li {
    margin: 0 1rem;
  }

  #fs-frm {
    max-width: 500px;
  }
}
